@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App-button {
  position: fixed;
  width: 300px;
  height: 45px;
  }
  
  #button-green {
    top: 437px;
    background: #29BF89;
    border-radius: 25px;
    border: #29BF89;
  }
  
  #button-white {
    top: 542px;
    background: #FAFAFA;
    border-radius: 25px;
    border: #FAFAFA;
  }
  
  #button-clear {
    top: 332px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: transparent;
  }
  
  #button-clearAlt {
    top: 647px;
    border: 3px solid #29BF89;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: transparent;
  }
  
  .App-button-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    /* font-size: 18px; */
  }
  
    #button-text-white {
      color: #FFFFFF;
    }
    
    #button-text-green {
      color: #29BF89;
    }
    
    #button-text-grey {
      color: #CFD8DC;
    }